<!DOCTYPE html>

<html lang="es">
	
	<head>
		
		<!-->configuraciones basicas<-->
		<meta charset="UTF-8">
		<title>Corralon Don Vicente</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;>
		
		<!-->fuentes<-->
		
		<!-->estilos<-->
		
		<!-->iconos<-->
		
	</head>
	
	<body>
		
		<header>
		
		</header>
		
		<main>
		
		</main>
		
		<footer>
		
		</footer>
		
	</body>
	
</html>